body {
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 20px;
    background: #4CAF50;
    color: white;
    border: none;
}

.card {
    background: white;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    width: 300px;
}